# Backend Server (Node.js/Express)
PORT=3000

# Email Configuration (Nodemailer)
# Get credentials from your email provider or for testing use https://ethereal.email/
# or your Gmail using app passwords
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password

# Where the inquiry email should be sent (Receiver)
CONTACT_RECEIVER_EMAIL=info@yjfiresolutions.com
